In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
# Install Java (required for Spark)
!apt-get install openjdk-11-jdk-headless -qq > /dev/null

# Copy Spark archive from Drive or download if not present
import os

spark_tgz_path = "/content/drive/MyDrive/spark-3.5.0-bin-hadoop3.tgz"
if not os.path.exists(spark_tgz_path):
    !wget -q https://archive.apache.org/dist/spark/spark-3.5.0/spark-3.5.0-bin-hadoop3.tgz -O "$spark_tgz_path"

# Copy to working directory and extract
!cp "$spark_tgz_path" .
!tar -xzf spark-3.5.0-bin-hadoop3.tgz

# Set environment variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.0-bin-hadoop3"

# Install findspark
!pip install -q findspark
import findspark
findspark.init()

In [3]:
from pyspark.sql import SparkSession
import os

# Initialize Spark session
spark = SparkSession.builder.appName("ConcatenateCSV").getOrCreate()

# Path to your directory containing the CSV files
csv_directory = "/content/drive/MyDrive/AQI_Weather_Analyser_Project"  # Replace this with your actual path

# List all CSV files in the directory
csv_files = [os.path.join(csv_directory, f) for f in os.listdir(csv_directory) if f.endswith(".csv")]

# Read all CSV files into a DataFrame
df = spark.read.option("header", "true").csv(csv_files)

# Show the schema to confirm
df.printSchema()

# Show the first few rows to inspect the data
df.show(5)

root
 |-- From Date: string (nullable = true)
 |-- To Date: string (nullable = true)
 |-- PM2.5 (ug/m3): string (nullable = true)
 |-- PM10 (ug/m3): string (nullable = true)
 |-- NO (ug/m3): string (nullable = true)
 |-- NO2 (ug/m3): string (nullable = true)
 |-- NOx (ppb): string (nullable = true)
 |-- NH3 (ug/m3): string (nullable = true)
 |-- SO2 (ug/m3): string (nullable = true)
 |-- CO (mg/m3): string (nullable = true)
 |-- Ozone (ug/m3): string (nullable = true)
 |-- Benzene (ug/m3): string (nullable = true)
 |-- Toluene (ug/m3): string (nullable = true)
 |-- Eth-Benzene (ug/m3): string (nullable = true)
 |-- MP-Xylene (ug/m3): string (nullable = true)
 |-- O Xylene (ug/m3): string (nullable = true)
 |-- Temp (degree C): string (nullable = true)
 |-- RH (%): string (nullable = true)
 |-- WS (m/s): string (nullable = true)
 |-- WD (deg): string (nullable = true)
 |-- SR (W/mt2): string (nullable = true)
 |-- BP (mmHg): string (nullable = true)
 |-- VWS (m/s): string (nullable = true)
 |-- CH4 (ug/m3): string (nullable = true)
 |-- NMHC (): string (nullable = true)
 |-- THC (ug/m3): string (nullable = true)

+-------------------+-------------------+-------------+------------+----------+-----------+---------+-----------+-----------+----------+-------------+---------------+---------------+-------------------+-----------------+----------------+---------------+------+--------+--------+----------+---------+---------+-----------+-------+-----------+
|          From Date|            To Date|PM2.5 (ug/m3)|PM10 (ug/m3)|NO (ug/m3)|NO2 (ug/m3)|NOx (ppb)|NH3 (ug/m3)|SO2 (ug/m3)|CO (mg/m3)|Ozone (ug/m3)|Benzene (ug/m3)|Toluene (ug/m3)|Eth-Benzene (ug/m3)|MP-Xylene (ug/m3)|O Xylene (ug/m3)|Temp (degree C)|RH (%)|WS (m/s)|WD (deg)|SR (W/mt2)|BP (mmHg)|VWS (m/s)|CH4 (ug/m3)|NMHC ()|THC (ug/m3)|
+-------------------+-------------------+-------------+------------+----------+-----------+---------+-----------+-----------+----------+-------------+---------------+---------------+-------------------+-----------------+----------------+---------------+------+--------+--------+----------+---------+---------+-----------+-------+-----------+
|2010-01-03 14:00:00|2010-01-03 15:00:00|         NULL|        NULL|      3.14|       35.8|    38.94|       NULL|       1.15|      1.98|        94.53|           NULL|           NULL|               NULL|             NULL|            NULL|          28.64| 29.39|    1.41|  112.28|    393.84|  1008.63|     1.01|       NULL|   NULL|       NULL|
|2010-01-03 15:00:00|2010-01-03 16:00:00|         NULL|        NULL|       3.6|      33.53|    37.13|       NULL|       1.34|      1.66|       102.16|           NULL|           NULL|               NULL|             NULL|            NULL|          29.04| 28.29|    1.25|  108.28|    289.65|  1008.03|     0.97|       NULL|   NULL|       NULL|
|2010-01-03 16:00:00|2010-01-03 17:00:00|         NULL|        NULL|      4.56|      35.58|    40.14|       NULL|       1.47|      1.29|       100.12|           NULL|           NULL|               NULL|             NULL|            NULL|          28.87| 27.38|    1.27|  105.76|    163.49|  1008.79|     0.94|       NULL|   NULL|       NULL|
|2010-01-03 17:00:00|2010-01-03 18:00:00|         NULL|        NULL|      5.12|      44.67|     49.8|       NULL|       1.31|      1.28|        77.13|           NULL|           NULL|               NULL|             NULL|            NULL|          27.95| 28.79|    1.37|   88.33|      41.1|  1010.26|     0.94|       NULL|   NULL|       NULL|
|2010-01-03 18:00:00|2010-01-03 19:00:00|         NULL|        NULL|     14.82|       83.8|    98.62|       NULL|       0.59|      1.82|        26.12|           NULL|           NULL|               NULL|             NULL|            NULL|          26.86| 29.24|    0.94|   91.91|      1.41|  1012.87|     1.18|       NULL|   NULL|       NULL|
+-------------------+-------------------+-------------+------------+----------+-----------+---------+-----------+-----------+----------+-------------+---------------+---------------+-------------------+-----------------+----------------+---------------+------+--------+--------+----------+---------+---------+-----------+-------+-----------+
only showing top 5 rows

In [4]:
from pyspark.sql.types import FloatType
from pyspark.sql.functions import col, to_timestamp, when

# Step 1: Rename columns to uppercase with underscores
renamed_cols = {
    "From Date": "FROM_DATE",
    "To Date": "TO_DATE",
    "PM2.5 (ug/m3)": "PM25",
    "PM10 (ug/m3)": "PM10",
    "NO (ug/m3)": "NO",
    "NO2 (ug/m3)": "NO2",
    "NOx (ppb)": "NOX",
    "NH3 (ug/m3)": "NH3",
    "SO2 (ug/m3)": "SO2",
    "CO (mg/m3)": "CO",
    "Ozone (ug/m3)": "OZONE",
    "Benzene (ug/m3)": "BENZENE",
    "Toluene (ug/m3)": "TOLUENE",
    "Eth-Benzene (ug/m3)": "ETH_BENZENE",
    "MP-Xylene (ug/m3)": "MP_XYLENE",
    "O Xylene (ug/m3)": "O_XYLENE",
    "Temp (degree C)": "TEMP_C",
    "RH (%)": "RH",
    "WS (m/s)": "WS",
    "WD (deg)": "WD",
    "SR (W/mt2)": "SR",
    "BP (mmHg)": "BP",
    "VWS (m/s)": "VWS",
    "CH4 (ug/m3)": "CH4",
    "NMHC ()": "NMHC",
    "THC (ug/m3)": "THC"
}

# Rename the columns
for old, new in renamed_cols.items():
    df = df.withColumnRenamed(old, new)

# Step 2: Convert date columns
df = df.withColumn("FROM_DATE", to_timestamp("FROM_DATE", "yyyy-MM-dd HH:mm:ss"))
df = df.withColumn("TO_DATE", to_timestamp("TO_DATE", "yyyy-MM-dd HH:mm:ss"))

# Step 3: Clean and cast all other columns to float
def safe_cast_to_float(col_name):
    return when(
        (col(col_name).isNull()) |
        (col(col_name) == "") |
        (col(col_name) == "null") |
        (col(col_name) == "NULL") |
        (col(col_name) == "-"),
        None
    ).otherwise(col(col_name).cast(FloatType()))

# Apply the safe float casting to all non-date columns
for col_name in df.columns:
    if col_name not in ["FROM_DATE", "TO_DATE"]:
        df = df.withColumn(col_name, safe_cast_to_float(col_name))

In [ ]:
from pyspark.sql.functions import col, count, when

float_cols = [c for c in df.columns if c not in ["FROM_DATE", "TO_DATE"]]

null_counts = df.select([
    count(when(col(c).isNull(), c)).alias(c + "_null_count")
    for c in float_cols
])

null_counts.show(truncate=False)

In [5]:
rows = df.count()
cols = len(df.columns)
print(f"DataFrame size: {rows} rows × {cols} columns")

DataFrame size: 1339113 rows × 26 columns

In [6]:
from pyspark.sql.functions import count, col, when

total_rows = df.count()

null_counts = df.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns]).collect()[0].asDict()

null_percent = {k: (v / total_rows) * 100 for k, v in null_counts.items()}

for col_name, pct in null_percent.items():
    print(f"{col_name}: {pct:.2f}% nulls")

FROM_DATE: 0.53% nulls
TO_DATE: 0.53% nulls
PM25: 34.26% nulls
PM10: 41.84% nulls
NO: 26.01% nulls
NO2: 23.68% nulls
NOX: 24.08% nulls
NH3: 35.76% nulls
SO2: 32.26% nulls
CO: 29.97% nulls
OZONE: 33.33% nulls
BENZENE: 52.48% nulls
TOLUENE: 51.59% nulls
ETH_BENZENE: 81.34% nulls
MP_XYLENE: 71.84% nulls
O_XYLENE: 66.02% nulls
TEMP_C: 57.52% nulls
RH: 40.33% nulls
WS: 40.58% nulls
WD: 57.41% nulls
SR: 67.59% nulls
BP: 70.64% nulls
VWS: 81.17% nulls
CH4: 99.32% nulls
NMHC: 100.00% nulls
THC: 97.25% nulls

In [7]:
threshold = 85.0

# Get columns to drop
cols_to_drop = [col_name for col_name, pct in null_percent.items() if pct >= threshold]

# Drop columns
df = df.drop(*cols_to_drop)

print(f"Dropped columns: {cols_to_drop}")

Dropped columns: ['CH4', 'NMHC', 'THC']

In [8]:
# Rename date columns
df = df.withColumnRenamed("From_Date", "Start_Date") \
       .withColumnRenamed("To_Date", "End_Date")

# Confirm changes
df.printSchema()
df.select("Start_Date", "End_Date").show(5)

root
 |-- Start_Date: timestamp (nullable = true)
 |-- End_Date: timestamp (nullable = true)
 |-- PM25: float (nullable = true)
 |-- PM10: float (nullable = true)
 |-- NO: float (nullable = true)
 |-- NO2: float (nullable = true)
 |-- NOX: float (nullable = true)
 |-- NH3: float (nullable = true)
 |-- SO2: float (nullable = true)
 |-- CO: float (nullable = true)
 |-- OZONE: float (nullable = true)
 |-- BENZENE: float (nullable = true)
 |-- TOLUENE: float (nullable = true)
 |-- ETH_BENZENE: float (nullable = true)
 |-- MP_XYLENE: float (nullable = true)
 |-- O_XYLENE: float (nullable = true)
 |-- TEMP_C: float (nullable = true)
 |-- RH: float (nullable = true)
 |-- WS: float (nullable = true)
 |-- WD: float (nullable = true)
 |-- SR: float (nullable = true)
 |-- BP: float (nullable = true)
 |-- VWS: float (nullable = true)

+-------------------+-------------------+
|         Start_Date|           End_Date|
+-------------------+-------------------+
|2010-01-03 14:00:00|2010-01-03 15:00:00|
|2010-01-03 15:00:00|2010-01-03 16:00:00|
|2010-01-03 16:00:00|2010-01-03 17:00:00|
|2010-01-03 17:00:00|2010-01-03 18:00:00|
|2010-01-03 18:00:00|2010-01-03 19:00:00|
+-------------------+-------------------+
only showing top 5 rows

In [9]:
from pyspark.sql.functions import col, isnull

date_cols = ["START_DATE", "END_DATE"]
non_date_cols = [c for c in df.columns if c not in date_cols]

# Fill nulls only in non-date columns
df = df.fillna(0, subset=non_date_cols)

# Confirm no nulls remain in non-date columns and date columns unchanged
df.select([count(when(isnull(c), c)).alias(c) for c in df.columns]).show()

+----------+--------+----+----+---+---+---+---+---+---+-----+-------+-------+-----------+---------+--------+------+---+---+---+---+---+---+
|Start_Date|End_Date|PM25|PM10| NO|NO2|NOX|NH3|SO2| CO|OZONE|BENZENE|TOLUENE|ETH_BENZENE|MP_XYLENE|O_XYLENE|TEMP_C| RH| WS| WD| SR| BP|VWS|
+----------+--------+----+----+---+---+---+---+---+---+-----+-------+-------+-----------+---------+--------+------+---+---+---+---+---+---+
|      7054|    7054|   0|   0|  0|  0|  0|  0|  0|  0|    0|      0|      0|          0|        0|       0|     0|  0|  0|  0|  0|  0|  0|
+----------+--------+----+----+---+---+---+---+---+---+-----+-------+-------+-----------+---------+--------+------+---+---+---+---+---+---+

In [10]:
df = df.na.drop(subset=["START_DATE", "END_DATE"])

In [11]:
df.select([count(when(isnull(c), c)).alias(c) for c in df.columns]).show()

+----------+--------+----+----+---+---+---+---+---+---+-----+-------+-------+-----------+---------+--------+------+---+---+---+---+---+---+
|Start_Date|End_Date|PM25|PM10| NO|NO2|NOX|NH3|SO2| CO|OZONE|BENZENE|TOLUENE|ETH_BENZENE|MP_XYLENE|O_XYLENE|TEMP_C| RH| WS| WD| SR| BP|VWS|
+----------+--------+----+----+---+---+---+---+---+---+-----+-------+-------+-----------+---------+--------+------+---+---+---+---+---+---+
|         0|       0|   0|   0|  0|  0|  0|  0|  0|  0|    0|      0|      0|          0|        0|       0|     0|  0|  0|  0|  0|  0|  0|
+----------+--------+----+----+---+---+---+---+---+---+-----+-------+-------+-----------+---------+--------+------+---+---+---+---+---+---+

In [12]:

from pyspark.sql import functions as F

df.select("PM25", "PM10", "NOX", "NO2").describe().show()
df.select([F.count(F.when(F.col(c).isNull() | (F.col(c) == 0), c)).alias(c + "_null_or_zero") for c in ["PM25", "PM10", "NOX", "NO2"]]).show()

+-------+------------------+-----------------+------------------+------------------+
|summary|              PM25|             PM10|               NOX|               NO2|
+-------+------------------+-----------------+------------------+------------------+
|  count|           1332059|          1332059|           1332059|           1332059|
|   mean|23.292261648788944| 34.3875124209823|16.039573404615517|15.564740330857443|
| stddev| 39.51423048109861|52.43245887574646| 23.05468558896255|19.283755714511386|
|    min|               0.0|              0.0|               0.0|               0.0|
|    max|            999.99|           999.99|            498.79|            499.99|
+-------+------------------+-----------------+------------------+------------------+

+-----------------+-----------------+----------------+----------------+
|PM25_null_or_zero|PM10_null_or_zero|NOX_null_or_zero|NO2_null_or_zero|
+-----------------+-----------------+----------------+----------------+
|           458718|           555754|          317400|          314220|
+-----------------+-----------------+----------------+----------------+

In [13]:
for c in df.columns:
    print(f"Unique values for column '{c}':")
    df.select(c).distinct().show(65, truncate=False)  # Show up to 65 unique values
    print("\n" + "-"*50)  # Separator for better readability

Unique values for column 'Start_Date':
+-------------------+
|Start_Date         |
+-------------------+
|2010-01-08 01:00:00|
|2010-01-16 10:00:00|
|2010-01-21 09:00:00|
|2010-02-03 15:00:00|
|2010-02-09 12:00:00|
|2010-02-15 10:00:00|
|2010-02-19 06:00:00|
|2010-03-19 01:00:00|
|2010-03-19 21:00:00|
|2010-03-25 00:00:00|
|2010-04-19 00:00:00|
|2010-05-03 00:00:00|
|2010-05-11 23:00:00|
|2010-05-21 10:00:00|
|2010-06-08 09:00:00|
|2010-06-20 17:00:00|
|2010-07-20 12:00:00|
|2010-07-22 21:00:00|
|2010-08-13 10:00:00|
|2010-08-15 17:00:00|
|2010-08-21 00:00:00|
|2010-09-04 10:00:00|
|2010-09-23 10:00:00|
|2010-09-24 02:00:00|
|2010-09-24 18:00:00|
|2010-09-25 19:00:00|
|2010-09-27 09:00:00|
|2010-10-01 17:00:00|
|2010-10-01 23:00:00|
|2010-10-05 12:00:00|
|2010-10-22 00:00:00|
|2010-11-02 00:00:00|
|2010-11-12 07:00:00|
|2010-11-18 22:00:00|
|2010-11-19 12:00:00|
|2010-11-22 14:00:00|
|2010-11-25 11:00:00|
|2010-11-25 17:00:00|
|2010-12-09 10:00:00|
|2010-12-19 15:00:00|
|2010-12-27 03:00:00|
|2010-12-29 19:00:00|
|2010-12-30 15:00:00|
|2010-12-31 05:00:00|
|2011-01-04 18:00:00|
|2011-01-09 10:00:00|
|2011-01-10 05:00:00|
|2011-02-11 19:00:00|
|2011-02-13 02:00:00|
|2011-02-22 21:00:00|
|2011-02-23 20:00:00|
|2011-03-01 13:00:00|
|2011-03-03 22:00:00|
|2011-03-12 18:00:00|
|2011-04-13 07:00:00|
|2011-04-20 01:00:00|
|2011-05-20 19:00:00|
|2011-05-25 00:00:00|
|2011-05-25 02:00:00|
|2011-05-25 19:00:00|
|2011-05-26 06:00:00|
|2011-05-27 16:00:00|
|2011-06-02 22:00:00|
|2011-06-08 05:00:00|
|2011-06-14 20:00:00|
+-------------------+
only showing top 65 rows


--------------------------------------------------
Unique values for column 'End_Date':
+-------------------+
|End_Date           |
+-------------------+
|2010-01-08 01:00:00|
|2010-01-16 10:00:00|
|2010-01-21 09:00:00|
|2010-02-03 15:00:00|
|2010-02-09 12:00:00|
|2010-02-15 10:00:00|
|2010-02-19 06:00:00|
|2010-03-19 01:00:00|
|2010-03-19 21:00:00|
|2010-03-25 00:00:00|
|2010-04-19 00:00:00|
|2010-05-03 00:00:00|
|2010-05-11 23:00:00|
|2010-05-21 10:00:00|
|2010-06-08 09:00:00|
|2010-06-20 17:00:00|
|2010-07-20 12:00:00|
|2010-07-22 21:00:00|
|2010-08-13 10:00:00|
|2010-08-15 17:00:00|
|2010-08-21 00:00:00|
|2010-09-04 10:00:00|
|2010-09-23 10:00:00|
|2010-09-24 02:00:00|
|2010-09-24 18:00:00|
|2010-09-25 19:00:00|
|2010-09-27 09:00:00|
|2010-10-01 17:00:00|
|2010-10-01 23:00:00|
|2010-10-05 12:00:00|
|2010-10-22 00:00:00|
|2010-11-02 00:00:00|
|2010-11-12 07:00:00|
|2010-11-18 22:00:00|
|2010-11-19 12:00:00|
|2010-11-22 14:00:00|
|2010-11-25 11:00:00|
|2010-11-25 17:00:00|
|2010-12-09 10:00:00|
|2010-12-19 15:00:00|
|2010-12-27 03:00:00|
|2010-12-29 19:00:00|
|2010-12-30 15:00:00|
|2010-12-31 05:00:00|
|2011-01-04 18:00:00|
|2011-01-09 10:00:00|
|2011-01-10 05:00:00|
|2011-02-11 19:00:00|
|2011-02-13 02:00:00|
|2011-02-22 21:00:00|
|2011-02-23 20:00:00|
|2011-03-01 13:00:00|
|2011-03-03 22:00:00|
|2011-03-12 18:00:00|
|2011-04-13 07:00:00|
|2011-04-20 01:00:00|
|2011-05-20 19:00:00|
|2011-05-25 00:00:00|
|2011-05-25 02:00:00|
|2011-05-25 19:00:00|
|2011-05-26 06:00:00|
|2011-05-27 16:00:00|
|2011-06-02 22:00:00|
|2011-06-08 05:00:00|
|2011-06-14 20:00:00|
+-------------------+
only showing top 65 rows


--------------------------------------------------
Unique values for column 'PM25':
+------+
|PM25  |
+------+
|34.77 |
|150.19|
|161.73|
|336.49|
|406.93|
|280.05|
|3.32  |
|6.83  |
|27.62 |
|9.1   |
|30.64 |
|41.85 |
|42.38 |
|78.27 |
|80.32 |
|48.6  |
|90.67 |
|31.55 |
|19.44 |
|8.26  |
|21.91 |
|75.07 |
|97.66 |
|84.53 |
|51.83 |
|81.83 |
|48.08 |
|55.67 |
|60.82 |
|20.04 |
|20.11 |
|29.12 |
|19.67 |
|28.89 |
|24.77 |
|32.56 |
|12.64 |
|34.85 |
|57.49 |
|57.31 |
|73.09 |
|72.72 |
|92.28 |
|92.74 |
|177.51|
|68.06 |
|103.72|
|71.43 |
|77.17 |
|144.54|
|110.53|
|78.67 |
|71.05 |
|97.82 |
|80.86 |
|91.88 |
|96.35 |
|110.41|
|95.87 |
|148.72|
|113.59|
|116.42|
|226.1 |
|95.95 |
|128.17|
+------+
only showing top 65 rows


--------------------------------------------------
Unique values for column 'PM10':
+------+
|PM10  |
+------+
|6.83  |
|19.67 |
|92.74 |
|162.46|
|108.99|
|128.17|
|189.41|
|290.45|
|27.62 |
|20.04 |
|79.56 |
|97.82 |
|72.72 |
|48.6  |
|96.35 |
|27.28 |
|42.38 |
|60.82 |
|57.49 |
|34.85 |
|41.85 |
|48.08 |
|51.83 |
|30.64 |
|31.55 |
|92.28 |
|83.53 |
|57.31 |
|37.38 |
|76.72 |
|148.72|
|78.67 |
|95.87 |
|91.88 |
|90.67 |
|84.53 |
|110.41|
|113.59|
|20.11 |
|24.77 |
|32.56 |
|40.24 |
|68.06 |
|73.09 |
|127.46|
|34.77 |
|95.95 |
|81.83 |
|116.42|
|71.05 |
|77.17 |
|75.07 |
|150.19|
|80.32 |
|55.67 |
|21.91 |
|71.43 |
|97.66 |
|78.27 |
|139.61|
|196.18|
|80.86 |
|272.1 |
|121.62|
|179.85|
+------+
only showing top 65 rows


--------------------------------------------------
Unique values for column 'NO':
+------+
|NO    |
+------+
|8.26  |
|232.61|
|374.26|
|161.73|
|3.32  |
|6.83  |
|34.85 |
|30.64 |
|24.77 |
|9.1   |
|27.28 |
|19.67 |
|19.44 |
|12.64 |
|20.04 |
|34.77 |
|31.55 |
|20.11 |
|28.89 |
|108.99|
|76.72 |
|40.24 |
|71.43 |
|41.85 |
|27.62 |
|179.03|
|57.31 |
|110.53|
|369.2 |
|48.08 |
|37.38 |
|21.91 |
|55.67 |
|272.1 |
|83.53 |
|76.2  |
|51.83 |
|92.28 |
|75.07 |
|72.72 |
|68.06 |
|92.74 |
|97.66 |
|71.05 |
|95.95 |
|128.17|
|230.2 |
|116.42|
|226.1 |
|91.88 |
|96.35 |
|77.17 |
|81.83 |
|80.86 |
|78.27 |
|134.34|
|73.09 |
|78.67 |
|60.82 |
|142.97|
|127.46|
|90.67 |
|148.93|
|97.82 |
|148.72|
+------+
only showing top 65 rows


--------------------------------------------------
Unique values for column 'NO2':
+------+
|NO2   |
+------+
|32.56 |
|143.43|
|20.11 |
|28.89 |
|48.08 |
|27.62 |
|21.91 |
|19.67 |
|12.64 |
|8.26  |
|19.44 |
|37.38 |
|9.1   |
|6.83  |
|34.77 |
|20.04 |
|48.6  |
|41.85 |
|57.49 |
|30.64 |
|76.72 |
|24.77 |
|75.07 |
|3.32  |
|51.83 |
|83.53 |
|29.12 |
|68.06 |
|34.85 |
|31.55 |
|71.05 |
|55.67 |
|134.34|
|57.31 |
|95.87 |
|73.09 |
|121.62|
|78.67 |
|77.17 |
|72.72 |
|92.28 |
|110.41|
|80.86 |
|60.82 |
|97.82 |
|91.88 |
|145.48|
|78.27 |
|249.49|
|108.99|
|92.74 |
|90.67 |
|80.32 |
|95.95 |
|81.83 |
|116.42|
|108.3 |
|179.22|
|71.43 |
|96.35 |
|84.53 |
|135.07|
|97.66 |
|139.61|
|128.17|
+------+
only showing top 65 rows


--------------------------------------------------
Unique values for column 'NOX':
+------+
|NOX   |
+------+
|28.89 |
|31.55 |
|110.41|
|323.7 |
|450.17|
|20.11 |
|37.38 |
|24.77 |
|19.67 |
|51.83 |
|30.64 |
|9.1   |
|12.64 |
|81.83 |
|20.04 |
|21.91 |
|8.26  |
|6.83  |
|48.6  |
|29.12 |
|19.44 |
|3.32  |
|32.56 |
|34.77 |
|179.22|
|75.07 |
|27.62 |
|78.27 |
|34.85 |
|91.88 |
|60.82 |
|57.31 |
|73.09 |
|68.06 |
|41.85 |
|83.53 |
|127.46|
|110.53|
|282.4 |
|90.67 |
|78.67 |
|95.95 |
|57.49 |
|159.25|
|152.54|
|71.43 |
|55.67 |
|72.72 |
|76.72 |
|77.17 |
|185.74|
|71.05 |
|95.87 |
|80.32 |
|48.08 |
|80.86 |
|182.23|
|97.82 |
|182.93|
|92.28 |
|194.38|
|121.62|
|108.3 |
|145.48|
|378.75|
+------+
only showing top 65 rows


--------------------------------------------------
Unique values for column 'NH3':
+------+
|NH3   |
+------+
|135.07|
|179.85|
|6.83  |
|3.32  |
|9.1   |
|21.91 |
|12.64 |
|19.44 |
|20.04 |
|20.11 |
|19.67 |
|24.77 |
|27.28 |
|37.38 |
|48.6  |
|8.26  |
|71.43 |
|97.66 |
|79.56 |
|57.31 |
|31.55 |
|48.08 |
|28.89 |
|40.24 |
|51.83 |
|41.85 |
|34.77 |
|55.67 |
|27.62 |
|76.72 |
|34.85 |
|90.67 |
|68.06 |
|57.49 |
|78.67 |
|83.53 |
|156.82|
|96.35 |
|71.05 |
|72.72 |
|109.63|
|4.96  |
|5.85  |
|13.03 |
|24.98 |
|9.87  |
|22.36 |
|22.23 |
|23.95 |
|29.97 |
|55.39 |
|44.01 |
|32.57 |
|33.81 |
|32.94 |
|59.59 |
|59.49 |
|31.49 |
|61.27 |
|47.2  |
|43.01 |
|49.11 |
|100.47|
|62.68 |
|35.97 |
+------+
only showing top 65 rows


--------------------------------------------------
Unique values for column 'SO2':
+------+
|SO2   |
+------+
|71.43 |
|132.99|
|182.93|
|3.32  |
|6.83  |
|8.26  |
|9.1   |
|12.64 |
|19.44 |
|19.67 |
|55.67 |
|90.67 |
|78.67 |
|48.08 |
|41.85 |
|27.62 |
|32.56 |
|28.89 |
|20.11 |
|20.04 |
|34.77 |
|76.2  |
|84.53 |
|29.12 |
|142.26|
|72.72 |
|144.54|
|81.83 |
|24.77 |
|92.74 |
|128.17|
|21.91 |
|80.32 |
|60.82 |
|30.64 |
|57.49 |
|196.36|
|96.35 |
|179.85|
|179.03|
|31.55 |
|57.31 |
|34.85 |
|37.38 |
|71.05 |
|83.53 |
|97.82 |
|95.95 |
|80.86 |
|123.95|
|59.59 |
|179.46|
|4.96  |
|5.85  |
|13.03 |
|9.87  |
|24.98 |
|72.75 |
|22.23 |
|22.36 |
|161.59|
|29.97 |
|32.57 |
|35.97 |
|33.81 |
+------+
only showing top 65 rows


--------------------------------------------------
Unique values for column 'CO':
+-----+
|CO   |
+-----+
|84.53|
|8.26 |
|3.32 |
|19.67|
|29.12|
|6.83 |
|48.08|
|41.85|
|9.1  |
|21.91|
|12.64|
|48.6 |
|34.85|
|80.86|
|92.28|
|71.05|
|60.82|
|81.83|
|19.44|
|27.28|
|28.89|
|78.27|
|79.56|
|34.77|
|76.2 |
|78.67|
|37.38|
|73.09|
|83.53|
|91.88|
|92.74|
|95.95|
|68.06|
|75.07|
|57.49|
|97.66|
|95.87|
|80.32|
|71.43|
|77.17|
|40.24|
|57.31|
|55.67|
|51.83|
|20.11|
|76.72|
|90.67|
|97.82|
|96.35|
|72.72|
|9.87 |
|5.85 |
|22.36|
|4.96 |
|46.7 |
|10.51|
|23.95|
|35.97|
|29.97|
|90.46|
|84.85|
|59.59|
|62.68|
|43.01|
|70.15|
+-----+
only showing top 65 rows


--------------------------------------------------
Unique values for column 'OZONE':
+------+
|OZONE |
+------+
|19.67 |
|71.05 |
|92.28 |
|80.32 |
|34.77 |
|97.82 |
|71.43 |
|41.85 |
|73.09 |
|20.04 |
|29.12 |
|28.89 |
|20.11 |
|24.77 |
|80.86 |
|27.28 |
|34.85 |
|31.55 |
|21.91 |
|27.62 |
|83.53 |
|76.72 |
|42.38 |
|37.38 |
|68.06 |
|77.17 |
|95.95 |
|60.82 |
|30.64 |
|32.56 |
|48.6  |
|75.07 |
|57.49 |
|9.1   |
|108.3 |
|121.62|
|97.66 |
|84.53 |
|51.83 |
|194.38|
|108.99|
|116.42|
|55.67 |
|91.88 |
|81.83 |
|3.32  |
|8.26  |
|6.83  |
|48.08 |
|158.62|
|145.48|
|90.67 |
|113.59|
|57.31 |
|103.72|
|96.35 |
|78.27 |
|95.87 |
|78.67 |
|140.06|
|168.87|
|142.26|
|148.72|
|135.07|
|92.74 |
+------+
only showing top 65 rows


--------------------------------------------------
Unique values for column 'BENZENE':
+-------+
|BENZENE|
+-------+
|3.32   |
|226.1  |
|156.82 |
|261.45 |
|268.63 |
|9.1    |
|8.26   |
|6.83   |
|92.74  |
|19.67  |
|12.64  |
|30.64  |
|29.12  |
|32.56  |
|40.24  |
|20.04  |
|20.11  |
|34.77  |
|21.91  |
|19.44  |
|28.89  |
|51.83  |
|142.97 |
|81.83  |
|196.36 |
|152.54 |
|254.48 |
|189.41 |
|185.74 |
|200.55 |
|76.72  |
|182.93 |
|161.73 |
|278.21 |
|327.87 |
|297.2  |
|293.71 |
|272.1  |
|241.7  |
|237.82 |
|234.98 |
|158.62 |
|80.32  |
|167.54 |
|162.46 |
|177.51 |
|159.25 |
|184.95 |
|132.99 |
|168.87 |
|139.61 |
|142.26 |
|90.67  |
|71.43  |
|187.85 |
|289.55 |
|116.42 |
|95.95  |
|48.6   |
|55.67  |
|179.03 |
|31.55  |
|77.17  |
|71.05  |
|285.2  |
+-------+
only showing top 65 rows


--------------------------------------------------
Unique values for column 'TOLUENE':
+-------+
|TOLUENE|
+-------+
|185.74 |
|41.85  |
|73.09  |
|83.53  |
|428.17 |
|474.19 |
|528.61 |
|459.01 |
|527.45 |
|268.63 |
|603.83 |
|596.77 |
|20.11  |
|24.77  |
|9.1    |
|76.72  |
|8.26   |
|3.32   |
|6.83   |
|12.64  |
|19.67  |
|19.44  |
|20.04  |
|158.32 |
|72.72  |
|92.28  |
|21.91  |
|29.12  |
|34.85  |
|81.83  |
|84.53  |
|79.56  |
|55.67  |
|78.67  |
|60.82  |
|76.2   |
|77.17  |
|68.06  |
|30.64  |
|42.38  |
|78.27  |
|80.86  |
|80.32  |
|90.67  |
|27.28  |
|91.88  |
|92.74  |
|40.24  |
|31.55  |
|34.77  |
|57.31  |
|75.07  |
|57.49  |
|51.83  |
|71.05  |
|71.43  |
|392.36 |
|158.62 |
|289.57 |
|179.22 |
|646.88 |
|196.36 |
|152.54 |
|596.15 |
|484.61 |
+-------+
only showing top 65 rows


--------------------------------------------------
Unique values for column 'ETH_BENZENE':
+-----------+
|ETH_BENZENE|
+-----------+
|37.38      |
|3.32       |
|9.1        |
|8.26       |
|6.83       |
|12.64      |
|42.38      |
|41.85      |
|31.55      |
|24.77      |
|30.64      |
|27.62      |
|32.56      |
|34.85      |
|29.12      |
|21.91      |
|20.11      |
|20.04      |
|34.77      |
|28.89      |
|19.67      |
|90.67      |
|78.67      |
|311.31     |
|298.51     |
|262.55     |
|4.96       |
|9.4        |
|73.28      |
|9.87       |
|23.81      |
|5.85       |
|97.4       |
|22.23      |
|22.36      |
|33.81      |
|31.49      |
|32.94      |
|24.98      |
|29.97      |
|32.57      |
|23.95      |
|35.97      |
|48.02      |
|72.75      |
|68.31      |
|270.26     |
|85.97      |
|18.5       |
|14.09      |
|0.34       |
|6.9        |
|7.26       |
|18.0       |
|37.97      |
|33.03      |
|34.19      |
|46.07      |
|9.46       |
|45.18      |
|21.46      |
|26.91      |
|90.25      |
|272.23     |
|256.98     |
+-----------+
only showing top 65 rows


--------------------------------------------------
Unique values for column 'MP_XYLENE':
+---------+
|MP_XYLENE|
+---------+
|78.27    |
|234.54   |
|182.23   |
|223.81   |
|235.21   |
|12.64    |
|9.1      |
|3.32     |
|24.77    |
|6.83     |
|8.26     |
|19.67    |
|60.82    |
|20.11    |
|20.04    |
|29.12    |
|19.44    |
|77.17    |
|95.87    |
|27.62    |
|225.72   |
|184.95   |
|226.1    |
|237.82   |
|235.91   |
|227.17   |
|205.07   |
|196.18   |
|200.55   |
|57.49    |
|128.17   |
|176.24   |
|95.95    |
|80.32    |
|139.61   |
|108.3    |
|245.81   |
|76.72    |
|92.74    |
|71.05    |
|232.61   |
|55.67    |
|134.34   |
|230.2    |
|225.41   |
|233.41   |
|217.63   |
|218.66   |
|177.51   |
|234.98   |
|239.8    |
|81.83    |
|71.43    |
|226.9    |
|249.22   |
|158.62   |
|187.85   |
|217.2    |
|217.58   |
|161.73   |
|250.01   |
|110.53   |
|84.53    |
|113.59   |
|142.26   |
+---------+
only showing top 65 rows


--------------------------------------------------
Unique values for column 'O_XYLENE':
+--------+
|O_XYLENE|
+--------+
|150.19  |
|19.67   |
|21.91   |
|20.11   |
|29.12   |
|3.32    |
|6.83    |
|24.77   |
|19.44   |
|28.89   |
|30.64   |
|27.28   |
|32.56   |
|27.62   |
|31.55   |
|9.1     |
|20.04   |
|8.26    |
|34.77   |
|34.85   |
|55.67   |
|78.67   |
|90.67   |
|72.75   |
|9.87    |
|22.23   |
|23.95   |
|24.98   |
|23.81   |
|26.69   |
|22.36   |
|29.97   |
|31.49   |
|5.85    |
|4.96    |
|32.94   |
|101.26  |
|32.57   |
|35.97   |
|47.2    |
|0.34    |
|114.69  |
|26.84   |
|21.46   |
|18.5    |
|26.91   |
|18.0    |
|33.03   |
|9.46    |
|6.9     |
|7.26    |
|99.06   |
|16.21   |
|14.09   |
|53.36   |
|482.32  |
|43.25   |
|39.33   |
|42.55   |
|90.25   |
|0.42    |
|1.63    |
|5.44    |
|3.36    |
|20.05   |
+--------+
only showing top 65 rows


--------------------------------------------------
Unique values for column 'TEMP_C':
+------+
|TEMP_C|
+------+
|34.77 |
|78.27 |
|21.91 |
|20.11 |
|27.28 |
|20.04 |
|29.12 |
|24.77 |
|31.55 |
|27.62 |
|19.67 |
|28.89 |
|30.64 |
|19.44 |
|12.64 |
|57.49 |
|37.38 |
|34.85 |
|51.83 |
|57.31 |
|48.6  |
|92.28 |
|68.06 |
|75.07 |
|41.85 |
|76.72 |
|71.43 |
|78.67 |
|60.82 |
|92.74 |
|77.17 |
|48.08 |
|72.72 |
|96.35 |
|84.53 |
|91.88 |
|95.95 |
|80.32 |
|73.09 |
|95.87 |
|97.82 |
|80.86 |
|55.67 |
|83.53 |
|97.66 |
|81.83 |
|71.05 |
|90.67 |
|3.32  |
|9.1   |
|8.26  |
|6.83  |
|84.85 |
|23.95 |
|23.81 |
|24.98 |
|22.23 |
|29.97 |
|22.36 |
|31.49 |
|33.81 |
|47.2  |
|35.97 |
|59.59 |
|32.57 |
+------+
only showing top 65 rows


--------------------------------------------------
Unique values for column 'RH':
+------+
|RH    |
+------+
|71.05 |
|27.28 |
|34.85 |
|27.62 |
|30.64 |
|42.38 |
|37.38 |
|20.04 |
|60.82 |
|57.31 |
|32.56 |
|78.27 |
|71.43 |
|80.32 |
|76.72 |
|92.28 |
|90.67 |
|92.74 |
|51.83 |
|75.07 |
|73.09 |
|95.87 |
|79.56 |
|95.95 |
|91.88 |
|78.67 |
|68.06 |
|84.53 |
|55.67 |
|83.53 |
|57.49 |
|48.08 |
|76.2  |
|29.12 |
|9.1   |
|41.85 |
|31.55 |
|81.83 |
|80.86 |
|72.72 |
|19.67 |
|34.77 |
|77.17 |
|97.82 |
|97.66 |
|21.91 |
|3.32  |
|96.35 |
|20.11 |
|24.77 |
|6.83  |
|8.26  |
|159.25|
|69.05 |
|47.2  |
|49.11 |
|33.81 |
|29.97 |
|78.79 |
|88.23 |
|54.55 |
|44.01 |
|61.72 |
|59.49 |
|61.27 |
+------+
only showing top 65 rows


--------------------------------------------------
Unique values for column 'WS':
+-------+
|WS     |
+-------+
|249.49 |
|261.45 |
|259.61 |
|289.55 |
|804.57 |
|1070.43|
|530.99 |
|661.55 |
|539.95 |
|887.79 |
|3.32   |
|110.53 |
|92.74  |
|97.66  |
|234.98 |
|116.42 |
|103.72 |
|84.53  |
|116.56 |
|235.91 |
|91.88  |
|78.27  |
|90.67  |
|217.63 |
|187.85 |
|273.74 |
|273.72 |
|245.81 |
|262.17 |
|252.24 |
|254.48 |
|252.61 |
|250.01 |
|257.7  |
|254.46 |
|140.06 |
|247.97 |
|200.55 |
|78.67  |
|60.82  |
|97.82  |
|225.72 |
|285.2  |
|237.82 |
|95.87  |
|274.06 |
|265.01 |
|249.22 |
|196.36 |
|239.8  |
|261.29 |
|148.72 |
|127.46 |
|121.62 |
|139.61 |
|95.95  |
|110.41 |
|76.2   |
|113.59 |
|142.26 |
|108.3  |
|75.07  |
|145.48 |
|80.86  |
|81.83  |
+-------+
only showing top 65 rows


--------------------------------------------------
Unique values for column 'WD':
+-------+
|WD     |
+-------+
|96.35  |
|128.17 |
|235.91 |
|293.71 |
|296.99 |
|670.27 |
|516.47 |
|528.41 |
|542.77 |
|531.37 |
|1205.09|
|1070.43|
|1055.51|
|1046.45|
|1060.13|
|1052.73|
|1068.19|
|1048.55|
|1038.11|
|1036.21|
|91.88  |
|271.66 |
|237.82 |
|168.87 |
|247.97 |
|295.86 |
|297.2  |
|135.07 |
|298.04 |
|278.21 |
|95.95  |
|152.54 |
|97.82  |
|103.72 |
|110.41 |
|239.8  |
|139.61 |
|116.42 |
|158.62 |
|145.48 |
|108.3  |
|252.24 |
|265.99 |
|274.06 |
|282.4  |
|272.1  |
|289.57 |
|289.55 |
|273.72 |
|275.57 |
|176.24 |
|226.1  |
|77.17  |
|81.83  |
|92.28  |
|90.67  |
|83.53  |
|78.67  |
|80.86  |
|78.27  |
|110.53 |
|97.66  |
|150.19 |
|92.74  |
|95.87  |
+-------+
only showing top 65 rows


--------------------------------------------------
Unique values for column 'SR':
+-------+
|SR     |
+-------+
|419.5  |
|290.45 |
|613.01 |
|780.55 |
|1030.83|
|6.83   |
|392.36 |
|518.83 |
|247.97 |
|73.09  |
|187.85 |
|416.38 |
|12.64  |
|185.74 |
|48.6   |
|156.82 |
|803.09 |
|79.56  |
|41.85  |
|315.74 |
|241.7  |
|642.82 |
|307.61 |
|685.48 |
|753.76 |
|75.07  |
|108.99 |
|29.12  |
|282.4  |
|83.53  |
|179.22 |
|30.64  |
|9.1    |
|19.67  |
|217.63 |
|20.11  |
|19.44  |
|40.24  |
|252.24 |
|161.73 |
|60.82  |
|78.67  |
|397.51 |
|78.27  |
|405.3  |
|396.96 |
|468.96 |
|650.58 |
|20.04  |
|90.67  |
|92.28  |
|68.06  |
|158.62 |
|771.1  |
|55.67  |
|712.14 |
|795.6  |
|108.3  |
|245.81 |
|394.12 |
|578.62 |
|484.61 |
|298.04 |
|226.1  |
|602.04 |
+-------+
only showing top 65 rows


--------------------------------------------------
Unique values for column 'BP':
+-------+
|BP     |
+-------+
|1013.07|
|1013.08|
|1008.72|
|1018.66|
|1009.91|
|998.56 |
|998.4  |
|999.28 |
|1032.75|
|2151.41|
|2858.39|
|2148.61|
|2534.63|
|2278.98|
|2594.74|
|2595.06|
|2978.69|
|1868.57|
|2548.85|
|2135.53|
|996.77 |
|996.46 |
|1002.5 |
|994.57 |
|995.5  |
|995.87 |
|1010.98|
|1012.56|
|994.76 |
|972.09 |
|977.74 |
|977.38 |
|976.45 |
|978.41 |
|979.84 |
|974.86 |
|968.81 |
|973.53 |
|969.77 |
|971.67 |
|909.05 |
|910.27 |
|1017.63|
|842.39 |
|1016.31|
|1021.11|
|1020.63|
|1022.71|
|757.55 |
|905.02 |
|901.25 |
|895.18 |
|882.45 |
|879.68 |
|966.7  |
|827.65 |
|902.17 |
|921.45 |
|926.4  |
|944.2  |
|940.62 |
|942.17 |
|898.25 |
|855.28 |
|833.9  |
+-------+
only showing top 65 rows


--------------------------------------------------
Unique values for column 'VWS':
+-------+
|VWS    |
+-------+
|200.55 |
|468.17 |
|490.91 |
|1805.07|
|1450.02|
|1559.27|
|1497.79|
|1678.06|
|1610.69|
|1648.33|
|1551.47|
|1997.57|
|1639.31|
|2088.9 |
|1511.87|
|1905.63|
|1817.05|
|1814.13|
|1964.26|
|1976.51|
|1978.79|
|1966.49|
|1973.17|
|532.65 |
|28.89  |
|31.55  |
|29.12  |
|32.56  |
|30.64  |
|27.28  |
|20.11  |
|27.62  |
|24.77  |
|19.44  |
|20.04  |
|21.91  |
|19.67  |
|217.2  |
|198.86 |
|416.38 |
|500.02 |
|355.84 |
|468.96 |
|6.83   |
|9.1    |
|8.26   |
|425.34 |
|428.17 |
|78.67  |
|475.66 |
|675.48 |
|555.56 |
|2045.72|
|2074.68|
|1423.46|
|1531.54|
|1008.72|
|1905.44|
|1812.14|
|1968.52|
|1980.06|
|1966.35|
|1978.31|
|1206.78|
|1200.36|
+-------+
only showing top 65 rows


--------------------------------------------------

In [14]:
from pyspark.sql.functions import mean, expr

numeric_cols = [c for c in df.columns if c not in ["Start_Date", "End_Date"]]

# Mean for numeric columns
mean_stats = df.select([mean(c).alias(c) for c in numeric_cols])
mean_stats.show()

# Median requires approxQuantile since Spark has no built-in median
median_stats = {}
for c in numeric_cols:
    median = df.approxQuantile(c, [0.5], 0.01)[0]
    median_stats[c] = median

print("Median values:")
for col_name, median_val in median_stats.items():
    print(f"{col_name}: {median_val}")

+------------------+----------------+-----------------+------------------+------------------+-----------------+-----------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+----------------+------------------+------------------+------------------+------------------+-----------------+
|              PM25|            PM10|               NO|               NO2|               NOX|              NH3|              SO2|                CO|             OZONE|          BENZENE|          TOLUENE|       ETH_BENZENE|        MP_XYLENE|          O_XYLENE|            TEMP_C|              RH|                WS|                WD|                SR|                BP|              VWS|
+------------------+----------------+-----------------+------------------+------------------+-----------------+-----------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+----------------+------------------+------------------+------------------+------------------+-----------------+
|23.292261648788944|34.3875124209823|8.530605048795138|15.564740330857443|16.039573404615517|7.592969607724571|7.113545219029105|2.0106764106976094|18.448180696777477|7.342218633079279|10.69324807560408|1.5952842705789416|8.567051864851337|14.346395473386334|20.323317512042443|36.3873963963406|153.25108919198883|188.40763109072424|128.89180138604277|107.35850980490945|41.22854472146424|
+------------------+----------------+-----------------+------------------+------------------+-----------------+-----------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+----------------+------------------+------------------+------------------+------------------+-----------------+

Median values:
PM25: 14.949999809265137
PM10: 14.420000076293945
NO: 3.0799999237060547
NO2: 11.15999984741211
NOX: 10.300000190734863
NH3: 2.2200000286102295
SO2: 3.2899999618530273
CO: 0.33000001311302185
OZONE: 11.65999984741211
BENZENE: 0.0
TOLUENE: 0.0
ETH_BENZENE: 0.0
MP_XYLENE: 0.0
O_XYLENE: 0.0
TEMP_C: 0.0
RH: 0.5799999833106995
WS: 1.8300000429153442
WD: 0.0
SR: 0.0
BP: 0.0
VWS: 0.0

In [15]:
from pyspark.sql.functions import col, when

# 1. PM Ratio with zero-division check
df = df.withColumn(
    "PM_RATIO",
    when(col("PM10") != 0, col("PM25") / col("PM10")).otherwise(None)
)

# 2. NOx to NO2 Ratio with zero-division check
df = df.withColumn(
    "NOX_TO_NO2",
    when(col("NO2") != 0, col("NOX") / col("NO2")).otherwise(None)
)

# 3. PM2.5 * Wind Speed Interaction (null-safe)
df = df.withColumn(
    "PM25_WIND_SCALED",
    when(col("PM25").isNotNull() & col("WS").isNotNull(),
         col("PM25") * col("WS")).otherwise(None)
)

# 4. Humidity * Temperature Interaction (null-safe)
df = df.withColumn(
    "HUMIDITY_TEMP_INDEX",
    when(col("RH").isNotNull() & col("TEMP_C").isNotNull(),
         col("RH") * col("TEMP_C")).otherwise(None)
)

In [16]:
from pyspark.sql.functions import col, when, lit

# Define your CPCB breakpoints using your DataFrame's column names
cpcb_breakpoints = {
    "PM25":   [(0,30,0,50), (31,60,51,100), (61,90,101,200), (91,120,201,300), (121,250,301,400), (251,500,401,500)],
    "PM10":   [(0,50,0,50), (51,100,51,100), (101,250,101,200), (251,350,201,300), (351,430,301,400), (431,500,401,500)],
    "NO2":    [(0,40,0,50), (41,80,51,100), (81,180,101,200), (181,280,201,300), (281,400,301,400), (401,1000,401,500)],
    "SO2":    [(0,40,0,50), (41,80,51,100), (81,380,101,200), (381,800,201,300), (801,1600,301,400), (1601,2100,401,500)],
    "CO":     [(0,1,0,50), (1.1,2,51,100), (2.1,10,101,200), (10.1,17,201,300), (17.1,34,301,400), (34.1,50,401,500)],
    "OZONE":  [(0,50,0,50), (51,100,51,100), (101,168,101,200), (169,208,201,300), (209,748,301,400), (749,1000,401,500)],
    "NH3":    [(0,200,0,50), (201,400,51,100), (401,800,101,200), (801,1200,201,300), (1201,1800,301,400), (1801,2400,401,500)]
}

# AQI expression builder
def compute_aqi_expr(pollutant, breakpoints):
    expr = None
    for (clow, chigh, aqi_low, aqi_high) in breakpoints:
        cond = (col(pollutant) >= clow) & (col(pollutant) <= chigh)
        formula = ((col(pollutant) - clow) / (chigh - clow)) * (aqi_high - aqi_low) + aqi_low
        expr = when(cond, formula) if expr is None else expr.when(cond, formula)
    return expr.otherwise(lit(None))

# Apply AQI calculations
for pollutant in cpcb_breakpoints:
    aqi_col = f"AQI_{pollutant}"
    df = df.withColumn(aqi_col, compute_aqi_expr(pollutant, cpcb_breakpoints[pollutant]))

In [17]:
from pyspark.sql.functions import greatest, round as spark_round

df = df.withColumn("AQI_CPCB", greatest(
    col("AQI_PM25"),
    col("AQI_PM10"),
    col("AQI_NO2"),
    col("AQI_SO2"),
    col("AQI_CO"),
    col("AQI_OZONE"),
    col("AQI_NH3")
))

# Optional rounding
df = df.withColumn("AQI_CPCB", spark_round("AQI_CPCB"))

In [18]:
from pyspark.sql.functions import when

df = df.withColumn("AQI_Category", when(col("AQI_CPCB") <= 50, "Good")
    .when(col("AQI_CPCB") <= 100, "Satisfactory")
    .when(col("AQI_CPCB") <= 200, "Moderate")
    .when(col("AQI_CPCB") <= 300, "Poor")
    .when(col("AQI_CPCB") <= 400, "Very Poor")
    .otherwise("Severe"))

In [19]:
# Rename Start_Date to Start_TS if necessary
df = df.withColumnRenamed("Start_Date", "Start_TS")

from pyspark.sql.window import Window
from pyspark.sql.functions import avg, lag, max, col, unix_timestamp

# Ensure Start_TS is in timestamp format
df = df.withColumn("Start_TS_unix", unix_timestamp("Start_TS"))

# Rolling and lag window (row-based)
row_window = Window.orderBy("Start_TS").rowsBetween(-2, 0)
lag_window = Window.orderBy("Start_TS")

# Time-based window (past 7 days in seconds)
time_window_7d = Window.orderBy("Start_TS_unix").rangeBetween(-7 * 86400, 0)

# PM2.5 features
df = df.withColumn("Rolling_PM25_mean", avg("PM25").over(row_window))
df = df.withColumn("Lag_PM25_1h", lag("PM25", 1).over(lag_window))

# Temperature max over 7 days
df = df.withColumn("Rolling_Temperature_max", max("TEMP_C").over(time_window_7d))

# Add same features for PM10, NO2, CO, SO2
for pollutant in ["PM10", "NO2", "CO", "SO2"]:
    df = df.withColumn(f"Rolling_{pollutant}_mean", avg(col(pollutant)).over(row_window))
    df = df.withColumn(f"Lag_{pollutant}_1h", lag(col(pollutant), 1).over(lag_window))
    df = df.withColumn(f"Rolling_{pollutant}_max_7d", max(col(pollutant)).over(time_window_7d))

In [20]:
df.select([count(when(isnull(c), c)).alias(c) for c in df.columns]).show()

+--------+--------+----+----+---+---+---+---+---+---+-----+-------+-------+-----------+---------+--------+------+---+---+---+---+---+---+--------+----------+----------------+-------------------+--------+--------+-------+-------+------+---------+-------+--------+------------+-------------+-----------------+-----------+-----------------------+-----------------+-----------+-------------------+----------------+----------+------------------+---------------+---------+-----------------+----------------+----------+------------------+
|Start_TS|End_Date|PM25|PM10| NO|NO2|NOX|NH3|SO2| CO|OZONE|BENZENE|TOLUENE|ETH_BENZENE|MP_XYLENE|O_XYLENE|TEMP_C| RH| WS| WD| SR| BP|VWS|PM_RATIO|NOX_TO_NO2|PM25_WIND_SCALED|HUMIDITY_TEMP_INDEX|AQI_PM25|AQI_PM10|AQI_NO2|AQI_SO2|AQI_CO|AQI_OZONE|AQI_NH3|AQI_CPCB|AQI_Category|Start_TS_unix|Rolling_PM25_mean|Lag_PM25_1h|Rolling_Temperature_max|Rolling_PM10_mean|Lag_PM10_1h|Rolling_PM10_max_7d|Rolling_NO2_mean|Lag_NO2_1h|Rolling_NO2_max_7d|Rolling_CO_mean|Lag_CO_1h|Rolling_CO_max_7d|Rolling_SO2_mean|Lag_SO2_1h|Rolling_SO2_max_7d|
+--------+--------+----+----+---+---+---+---+---+---+-----+-------+-------+-----------+---------+--------+------+---+---+---+---+---+---+--------+----------+----------------+-------------------+--------+--------+-------+-------+------+---------+-------+--------+------------+-------------+-----------------+-----------+-----------------------+-----------------+-----------+-------------------+----------------+----------+------------------+---------------+---------+-----------------+----------------+----------+------------------+
|       0|       0|   0|   0|  0|  0|  0|  0|  0|  0|    0|      0|      0|          0|        0|       0|     0|  0|  0|  0|  0|  0|  0|  555754|    314220|               0|                  0|   19202|   11131|   6729|   1601| 49942|     5219|      8|       0|           0|            0|                0|          1|                      0|                0|          1|                  0|               0|         1|                 0|              0|        1|                0|               0|         1|                 0|
+--------+--------+----+----+---+---+---+---+---+---+-----+-------+-------+-----------+---------+--------+------+---+---+---+---+---+---+--------+----------+----------------+-------------------+--------+--------+-------+-------+------+---------+-------+--------+------------+-------------+-----------------+-----------+-----------------------+-----------------+-----------+-------------------+----------------+----------+------------------+---------------+---------+-----------------+----------------+----------+------------------+

In [21]:

from pyspark.sql import functions as F

df.select("PM25", "PM10", "NOX", "NO2").describe().show()
df.select([F.count(F.when(F.col(c).isNull() | (F.col(c) == 0), c)).alias(c + "_null_or_zero") for c in ["PM25", "PM10", "NOX", "NO2"]]).show()

+-------+------------------+-----------------+------------------+------------------+
|summary|              PM25|             PM10|               NOX|               NO2|
+-------+------------------+-----------------+------------------+------------------+
|  count|           1332059|          1332059|           1332059|           1332059|
|   mean|23.292261648788944| 34.3875124209823|16.039573404615517|15.564740330857443|
| stddev| 39.51423048109861|52.43245887574646| 23.05468558896255|19.283755714511386|
|    min|               0.0|              0.0|               0.0|               0.0|
|    max|            999.99|           999.99|            498.79|            499.99|
+-------+------------------+-----------------+------------------+------------------+

+-----------------+-----------------+----------------+----------------+
|PM25_null_or_zero|PM10_null_or_zero|NOX_null_or_zero|NO2_null_or_zero|
+-----------------+-----------------+----------------+----------------+
|           458718|           555754|          317400|          314220|
+-----------------+-----------------+----------------+----------------+

In [22]:
print(f"Total rows: {df.count()}")

Total rows: 1332059

In [23]:
df.select("AQI_Category").distinct().show()
df.groupBy("AQI_CPCB").count().orderBy("AQI_CPCB").show()

+------------+
|AQI_Category|
+------------+
|        Good|
|      Severe|
|   Very Poor|
|Satisfactory|
|        Poor|
|    Moderate|
+------------+

+--------+------+
|AQI_CPCB| count|
+--------+------+
|     0.0|253037|
|     1.0|   430|
|     2.0|   489|
|     3.0|   549|
|     4.0|   605|
|     5.0|   763|
|     6.0|  1982|
|     7.0|  1367|
|     8.0|  1778|
|     9.0|  2007|
|    10.0|  2233|
|    11.0|  2111|
|    12.0|  2630|
|    13.0|  2910|
|    14.0|  3546|
|    15.0|  3872|
|    16.0|  5127|
|    17.0|  6410|
|    18.0|  5808|
|    19.0|  8124|
+--------+------+
only showing top 20 rows

In [24]:
rolling_cols = [c for c in df.columns if "Rolling" in c or "Lag" in c]
df.select(rolling_cols).describe().show()

+-------+------------------+------------------+-----------------------+-----------------+-----------------+-------------------+------------------+------------------+------------------+-----------------+-----------------+------------------+------------------+------------------+------------------+
|summary| Rolling_PM25_mean|       Lag_PM25_1h|Rolling_Temperature_max|Rolling_PM10_mean|      Lag_PM10_1h|Rolling_PM10_max_7d|  Rolling_NO2_mean|        Lag_NO2_1h|Rolling_NO2_max_7d|  Rolling_CO_mean|        Lag_CO_1h| Rolling_CO_max_7d|  Rolling_SO2_mean|        Lag_SO2_1h|Rolling_SO2_max_7d|
+-------+------------------+------------------+-----------------------+-----------------+-----------------+-------------------+------------------+------------------+------------------+-----------------+-----------------+------------------+------------------+------------------+------------------+
|  count|           1332059|           1332058|                1332059|          1332059|          1332058|            1332059|           1332059|           1332058|           1332059|          1332059|          1332058|           1332059|           1332059|           1332058|           1332059|
|   mean|23.292231650117447|23.292252927143043|      94.13346109855287|34.38745569676675|34.38748197749558|  552.4753177968582|15.564741525749653| 15.56473686609844|191.61578260292902|2.010676054106851|2.010677319574249| 53.90408367886747| 7.113543359751732| 7.113547353729875|121.37005166745416|
| stddev|25.625164994450802| 39.51424403098547|     13.118810878823718|36.76970494610592|52.43246678388707|  368.0057826459015|12.382514281241255|19.283762538229688|114.11504497710467|5.514007362746357|9.800312035210345|35.225244545093695|7.7790539286039895|12.757068457268083| 59.35252797946485|
|    min|               0.0|               0.0|                    0.0|              0.0|              0.0|                0.0|               0.0|               0.0|             10.35|              0.0|              0.0|               0.0|               0.0|               0.0|               0.0|
|    max| 501.4433339436849|            999.99|                  99.91|597.0266672770182|           999.99|             999.99| 281.3799997965495|            499.99|            499.99|44.12999979654948|            99.97|             99.97|173.20999654134116|             200.0|             200.0|
+-------+------------------+------------------+-----------------------+-----------------+-----------------+-------------------+------------------+------------------+------------------+-----------------+-----------------+------------------+------------------+------------------+------------------+

In [25]:
numeric_cols = ["PM25", "PM10", "NO2", "CO", "SO2", "TEMP_C", "RH", "WS"]
df.select(numeric_cols).toPandas().corr()

,PM25,PM10,NO2,CO,SO2,TEMP_C,RH,WS
PM25,1.000000,0.390530,0.272747,0.107504,0.001786,-0.031724,0.043208,0.070844
PM10,0.390530,1.000000,0.243427,-0.071627,0.161790,0.060474,0.133373,0.250817
NO2,0.272747,0.243427,1.000000,0.070759,0.030380,0.066405,0.112573,0.178188
CO,0.107504,-0.071627,0.070759,1.000000,-0.076133,-0.089688,-0.072748,-0.090049
SO2,0.001786,0.161790,0.030380,-0.076133,1.000000,0.190164,-0.034892,0.030370
TEMP_C,-0.031724,0.060474,0.066405,-0.089688,0.190164,1.000000,-0.251621,-0.025016
RH,0.043208,0.133373,0.112573,-0.072748,-0.034892,-0.251621,1.000000,0.658938
WS,0.070844,0.250817,0.178188,-0.090049,0.030370,-0.025016,0.658938,1.000000

In [26]:
# 2. SAVE AS SINGLE CSV FILE

output_path = "/content/final_output_csv"

# Repartition to 1 file and save as CSV
df.coalesce(1) \
  .write.option("header", "true") \
  .mode("overwrite") \
  .csv(output_path)

# 3. DOWNLOAD THE CSV FILE

import os
import shutil
import glob

# Find the part file
part_file = glob.glob(f"{output_path}/part-*.csv")[0]
shutil.move(part_file, "/content/final_AQI.csv")



# Download
from google.colab import files
files.download("/content/final_AQI.csv")